body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: black;
    padding: 20px;
}
h1 {

    background-color: white;
    color: brown;
    text-align: center;
}

h2, h3, h4, h5 {
    text-align: center;
    color: blueviolet;
}

p {

    font-size: medium;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#Hobbies ol{
    font-size: medium;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

img  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

footer {
    text-align: center;
    padding: 10px;
    background-color: red;
    color: black;
}
   
    
    