body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: black;
    padding: 20px;
}
header {

    background-color: white;
    color: brown;
    text-align: justify;
    font-size: 50px;
}

h2, h3, h4, h5 {
    text-align: justify;
    color: rgb(27, 39, 204);
    font-size: 40px;
}

p {

    font-size: large;
    text-align: justify;
    width: 800px;
}

#Hobbies ol{
    font-size: large;
    text-align: justify;
    width: 800px;
    
}

img  {
    display: block;
    margin-left: 0cm;
    margin-right: 0cm;
    width: 400;
    height: 400;
    
}

footer {
    text-align: justify;
    padding: 10px;
    background-color: red;
    color: black;
}
   
    
    